.DS_Store
.local_artifact_cache
.idea
.idea_modules
.pants.d
.pants.run
.pids
.vscode
.*.swp
.sbt_completion_cache
/logs
target
.tern-project.js
*.iml
*.log
**/metastore_db
gen-py
.coverage
**/*.pyc
**/.cache
**/.classpath
**/.project
**/.settings
.*.swp
tags
/.pants.run.lock_message
/.pants.workdir.file_lock
/.pants.workdir.file_lock.lock_message
/dist
**/**/reports
git.properties
tslint.json
deploy/share/
